.main {
  width: 100%;
  padding: 4rem 10.1875rem 0 3.96875rem;
  display: flex;
  gap: 9.8125rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  margin-top: 2.3125rem;
  margin-bottom: 3.375rem;
}

.sub_article {
  border-top: 1px solid #383b4b;
  padding-top: 1.75rem;
  display: flex;
  gap: 4.9375rem;
}

.sub_article_div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sub_heading_1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 2.35px;
  color: var(--blue-100);
}

.sub_heading_2 {
  font-family: "Bellefair", sans-serif;
  font-size: 1.75rem;
  color: var(--white);
}
