* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --blue-100: #d0d6f9;
  --blue-900: #0b0d17;
}

body {
  background-color: var(--blue-900);
}

.layout {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  background: url(./assets/home/background-home-desktop.jpg);
}

.destination_layout {
  width: 100%;
  height: 100vh;
  padding: 4.75rem 0 0 10.40625rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: "Bellefair", sans-serif;
  color: var(--white);
}

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 4.75;
  color: var(--blue-100);
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--blue-100);
  font-size: 1.125rem;
}

.active {
  color: var(--white);
  border-bottom: 2px solid var(--white);
}